@{
    ViewData["Title"] = "Info";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <h1 style="margin: 20px 0">@ViewData["ViewTitle"]</h1>
    <input type="button" class="btn btn-outline-primary" value="Изменить"
           onclick="window.location.href='@Url.Action("InfoEdit", "Account", new { clientId = ViewData["Id"]})'" />
        @if (User.IsInRole("admin"))
        {
        <input type="button" class="btn btn-outline-primary" value="Удалить"
               onclick="window.location.href='@Url.Action("Delete", "Clients", new { clientId = ViewData["Id"]})'" />
        }
    <br><br>
    <TABLE border="1" class="table table-striped">
        <TR>
            <TD>Имя</TD>
            <TD>@ViewData["Name"]</TD>
        </TR>
        <TR>
            <TD>Национальность</TD>
            <TD>@ViewData["Nationality"]</TD>
        </TR>
        <TR>
            <TD>Пол</TD>
            <TD>@ViewData["Sex"]</TD>
        </TR>
        <TR>
            <TD>Дата рождения</TD>
            <TD>@ViewData["Bithdate"]</TD>
        </TR>
        <TR>
            <TD>Рост</TD>
            <TD>@ViewData["Height"]</TD>
        </TR>
        <TR>
            <TD>Вес</TD>
            <TD>@ViewData["Weight"]</TD>
        </TR>
        <TR>
            <TD>Семейный статус</TD>
            <TD>@ViewData["FamilyStatus"]</TD>
        </TR>
        <TR>
            <TD>Дети</TD>
            <TD>@ViewData["Children"]</TD>
        </TR>
        <TR>
            <TD>Номер телефона</TD>
            <TD>@ViewData["PhoneNumber"]</TD>
        </TR>
        <TR>
            <TD>Знак зодиака</TD>
            <TD>@ViewData["ZodiacSign"]</TD>
        </TR>
        <TR>
            <TD>Работа</TD>
            <TD>@ViewData["Job"]</TD>
        </TR>
        <TR>
            <TD>Хобби</TD>
            <TD>@ViewData["Hobby"]</TD>
        </TR>
        <TR>
            <TD>Вредные привычки</TD>
            <TD>@ViewData["BadHabbits"]</TD>
        </TR>
        <TR>
            <TD>Адрес</TD>
            <TD>@ViewData["Address"]</TD>
        </TR>
        <TR>
            <TD>Пасспортные данные</TD>
            <TD>@ViewData["Passport"]</TD>
        </TR>
        <TR>
            <TD>Искомый партнер</TD>
            <TD>@ViewData["DesiredPartner"]</TD>
        </TR>
    </TABLE>
    </body>
</html>
