@model LoginViewModel

@{
    ViewData["Title"] = "Мои данные";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>@ViewData["Title"]</h1>
        <ln/>
        <h3>Имя: @ViewData["Name"]</h3>
        <h4>Национальность: @ViewData["Nationality"]</h4>
        <h4>Пол: @ViewData["Sex"]</h4>
        <h4>Дата рождения: @ViewData["Bithdate"]</h4>
        <h4>Рост: @ViewData["Height"] см</h4>
        <h4>Вес: @ViewData["Weight"] кг</h4>
        <h4>Семейный статус: @ViewData["FamilyStatus"]</h4>
        <h4>Дети: @ViewData["Children"]</h4>
        <h4>Номер телефона: @ViewData["PhoneNumber"]</h4>
        <h4>По гороскопу: @ViewData["ZodiacSign"]</h4>
        <h4>Место работы: @ViewData["Job"]</h4>
        <h4>Хобби: @ViewData["Hobby"]</h4>
        <h4>Вредные привычки: @ViewData["BadHabbits"]</h4>
        <h4>Адрес: @ViewData["Address"]</h4>
        <h4>Пасспорт: @ViewData["Passport"]</h4>
        <h4>Ищу: @ViewData["DesiredPartner"]</h4>
    </body>
</html>
